/File Reader Tests/Files/
/HC All Programs/chroma_langchain_db/
/HC All Programs/Files/
/HC Concert Programs/Files/
/HC Concert Programs/chroma_langchain_db/
/Music Analysis/MEI Sample/
/Music Analysis/debug_output.txt
/Music Analysis/music_analysis_converted.qmd
/Tutorials/
/Vaudeville/Files/
/Vaudeville/Tests and Outputs/
/Vaudeville/chroma_langchain_db/
/Vaudeville/requirements.txt
/Vaudeville/Vaudeville_structured.ipynb
/Vaudeville/Github/