openai==1.88.0
pandas==2.2.3
music21==9.7.1
langchain==0.3.25
langchain-community==0.3.25
langchain-core==0.3.65
langchain-openai==0.3.24
langchain-chroma==0.2.4
langchain-experimental==0.3.4
langgraph==0.4.8
pydantic==2.11.7
typing-extensions
pypdf==5.6.0